<%- include('components/header') %>

<h2>Cargas de alumnos</h2>

     <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr style="background-color: #0066cc; color: white;">
                <th style="padding: 12px;">Nombre del Curso</th>
                <th style="padding: 12px;">Docente</th>
                <th style="padding: 12px;">Alumno</th>
                <th style="padding: 12px;">Hora de Inicio</th>
                <th style="padding: 12px;">Hora de Fin</th>
            </tr>
        </thead>
        <tbody>
                <% horarios.forEach(function(d) { %>
                <tr style="background-color: #f2f2f2;">
                    <td style="padding: 12px;"><%= d.nombre_materia %></td>
                    <td style="padding: 12px;"><%= d.nombre_docente %></td>
                    <td style="padding: 12px;"><%= d.nombre_alumno %></td>
                    <td style="padding: 12px;"><%= d.hora_inicio %></td>
                    <td style="padding: 12px;"><%= d.hora_fin %></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

<%- include('components/footer') %>