<%- include('../../components/header') %>

<h1>Cargar Materia a <%= alumno.nombre %></h1>
<% if(cursos.length > 0) { %>


<form action="/horario_alumno/<%= alumno.id %>" method="POST" style="max-width: 500px; margin: 20px 0;">
    
    <div style="margin-bottom: 15px;">
        <label for="nombre" style ="display:block; margin-bottom: 5px;
         font-weight: bold;">Nombre:</label>
        <select id="horario" name="horario" required 
    style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
    
    <option value="">Selecciona una materia</option>

    <% cursos.forEach(function(curso){ %>
        <option value="<%= curso.id_horario %>">
            <%= curso.nombre_materia %> / <%= curso.nombre %> / <%= curso.hora_inicio %> - <%= curso.hora_fin %>
        </option>
    <% }); %>
</select>
    </div>

    <button type="submit" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Guardar Cambios</button>
    <a href="/alumnos" style="background-color: #6c757d; color: white; padding: 10px 20px; text-decoration: none; 
    border-radius: 4px; margin-left: 10px;">Cancelar</a>
</form>
<% } else { %>
    <p style="margin-top: 20px; color: gray;">No hay cursos registrados. Por favor, agrega un curso antes de asignar un horario.</p>
<% } %>


<%- include('../../components/footer') %>